.comment__body > img {
    border-radius: 20px;
    width: 100%;
}
.comment {
    display: flex;
    align-items: normal;

    border-bottom: 1px solid var(--twitter-background);

}

.comment__badge {
    font-size: 14px !important;
    color: var(--twitter-color);
}
.comment__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.comment__headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
}
.comment__headerDescription {
    font-size: 15px;
    margin-bottom: 20px;
    word-break: break-all
}
.comment__body {
    flex: 1;
    padding: 10px;
}
.comment__avatar {
    padding: 20px;
}

.comment > form {
    display: flex;
    flex-direction: column;
}
.comment__input {
    margin: 5px 10px;
    display: flex;
    padding: 0px;
}
.comment__input > input {
    flex: 1;
    margin-left: 0px;
    font-size: 20px;
    border: none;
}
.comment__input > input:focus {
    outline: none;
}