
.modalContainerP {
    min-width: fit-content;
    flex: 0.4;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.modalContainerP .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.titleCloseBtnP {
    top:10px;
    right: 10px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtnP button {

    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainerP .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalContainerP .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainerP .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
#cancelBtnP {
    background-color: crimson;
}