.profile {
    flex: 0.4;
    border-right: var(--twitter-background) 1px solid;
    min-width: fit-content;

}
.profile__avatar{
    text-align: center;
    margin: 15px 15px 40px 15px;
}
.profile__avatar > img {
    border-radius: 100%;
    border: 4px solid dodgerblue;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.profile__title{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}
.profile__title > h2 {
    font-size: 20px;
    font-weight: 700;
}
.profile__data {
    text-align: center;
    border: 1px solid var(--twitter-background);
    padding: 15px;
}
avatar__input {
    display: flex;
    padding: 30px;
}
.avatar__input > input {
    flex: 1;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
.avatar__button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 20px !important;
    height: 45px !important;
    margin-top: 20px !important;
    top:-11px;
    margin-right: 10px !important;
}